* {
  margin: 0;
  padding: 0;
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(to right, #008383, #0f0454 90%);
  padding: 30px 0;
}
.loader {
  width: 80px;
  height: 80px;
  background-color: transparent;
  border-radius: 50%;
  border: 10px solid #0ccac4;
  border-top-color: transparent;
  animation: spinner 0.9s linear infinite;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.home h1 {
  font-size: 52.5px;
  color: #0ccac4;
  text-transform: uppercase;
}
.home__input-search input {
  margin: 30px 0;
  padding: 10px 20px;
  font-size: 20px;
  color: #0ccac4;
}
.home__candidates-container {
  width: 95% !important;
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.home__candidates-container__element {
  width: 23%;
  margin: 10px;
  padding: 20px 0;
  background-color: #89f3d1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}
.home__candidates-container__element:hover {
  transform: scale(1.04);
  transition: 0.5s ease-in-out;
}
.home__candidates-container__element__image {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home__candidates-container__element__image img {
  width: 100%;
}
.home__candidates-container__element__title {
  padding: 10px 0;
}
.home__candidates-container__element__title h3 {
  color: #0f0454;
  font-size: 25px;
}
.home__candidates-container__element__lien a {
  text-decoration: none;
  color: #111;
  font-size: 18px;
}
.modal {
  position: relative;
  left: 30%;
  top: 15%;
  width: 40%;
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #008383, #0f0454 90%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titleModal {
  font-size: 30px;
  font-weight: bolder;
  color: #008383;
  text-transform: uppercase;
  position: relative;
}
.closeModal {
  position: absolute;
  right: 0;
  color: red;
  font-size: 40px;
  top: 0;
  right: 10px;
  cursor: pointer;
}
.modal:focus {
  border: none;
}
.modal-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 20px;
}
.modal-identity {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.modal-title {
  margin: 10px 0 15px 0;
}
@media (max-width: 1280px) {
  .home__candidates-container__element {
    width: 30%;
  }
  .modal {
    position: relative;
    left: 20%;
    top: 25%;
    width: 60%;
    padding: 10px 5px;
  }
}
@media (max-width: 768px) {
  .home__candidates-container__element {
    width: 45%;
  }
  .modal {
    position: relative;
    left: 3%;
    top: 8%;
    width: 90%;
    padding: 10px 5px;
  }
  .modal-identity {
    flex-direction: column;
  }
}
@media (max-width: 540px) {
  .home h1 {
    font-size: 30px;
  }
  .home__candidates-container__element {
    width: 90%;
  }
}
